.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.searchWrapper{
	display: flex;
	justify-content: center;
}

@media (min-width: 800px) {
    
    .searchWrapper{
		display: flex;
		justify-content: flex-end;
	}
}